.deleteBtn {
    padding: var(--padding-xs);
    height: fit-content;
    background: transparent;
    border: none;
    color: var(--faded-copper);
    transition: color 0.3s;
}

.deleteBtn:hover {
    color: var(--coffee-bean);
    transition: color 0.3s;
}