.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--padding-s) var(--padding-m);
    background-color: var(--color-bg-form);
    border-radius: var(--border-radius-m);
    margin: var(--margin-between-elements-s);

    box-shadow: var(--box-shadow-base);
}

.profile {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.profileData {
    display: flex;
    flex-direction: column;
}

.avatar {
    width: 50px;
    height: 50px;
    background-color: var(--color-avatar-bg);
    color: var(--color-avatar-text);
    font-size: var(--font-size-l);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--padding-xs);
    margin: 0 var(--margin-between-elements-m);
    border-radius: var(--border-radius-m);
}

.username, .email {
    text-align: end;
    margin: 0;
}

.username {
    font-size: var(--font-size-m);
}

.email {
    font-size: var(--font-size-s);
    color: var(--color-subtext);
}





.logo {
    display: flex;
}

.logo {
    color: var(--imperial-blue);
}

.logo>span {
    margin-left: var(--margin-between-elements-m);
}

.logo>span {
    font-size: var(--font-size-l);
}

.logoName {
    color: var(--imperial-blue);
    display: flex;
    align-items: center;
    text-decoration: none;
    width: 100%;
}