.search {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;

}

.input {
    padding: var(--padding-s) var(--padding-s) var(--padding-s) var(--padding-lm);
    width: 100%;
    font-size: var(--font-size-s);
}


.icon {
    position: absolute;
    color: var(--khaki-beige);
    padding-left: 6px;
}

.clearIcon {
    background: transparent;
    border: none;
    right: 16px;
    left: auto;

    transition: color 0.3s;
}

.clearIcon:hover {
    color: var(--coffee-bean);
    transition: color 0.3s;
}