.gridView {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--margin-between-elements-s);
}

.noteCard {
    display: flex;
    justify-content: space-between;

    background-color: var(--color-bg-form);
    border: 1px solid var(--khaki-beige);
    border-radius: var(--border-radius-m);
    padding: var(--padding-s);
    margin-bottom: var(--margin-between-elements-s);

    transition: all 0.3s;
    max-width: 350px;

}


.noteCard:hover {
    box-shadow: var(--box-shadow-base);
    border: 1px solid var(--faded-copper);
    transition: all 0.3s;
}

.actions {
    display: flex;
    justify-content: space-between;
}

.actions>a {
    width: 100%;
}

.link {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.title {
    font-size: var(--font-size-m);
}

.text {
    margin: var(--margin-between-elements-s) 0;
    font-size: var(--font-size-s);
    color: var(--faded-copper);
    word-break: keep-all;
    
    
}


.updatedAt {
    margin: var(--margin-between-elements-s) 0 0 0;
    color: var(--color-subtext);
    font-size: var(--font-size-xs);

}

.deleteBtn {
    padding: var(--padding-xs);
    height: fit-content;
    background: transparent;
    border: none;
    color: var(--faded-copper);
    transition: color 0.3s;
}

.deleteBtn:hover {
    color: var(--coffee-bean);
    transition: color 0.3s;
}